.unit-name {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1;
  margin-left: 10px;
}

.title-block {
  font-family: Roboto;
  color: #FFFFFF;
  background-color: #FFC627;
  text-shadow: 2px 2px #DFA617;
}
head, body{
  font-family: Roboto;
}

.vertical-nav {

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.red-top-border {
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  border-top-color: #8C1D40;
  border-bottom-color: #D0D0D0;
  border-left-color: #D0D0D0;
  border-right-color: #D0D0D0;
  
}

.vertical-nav-button {
  border-top-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  display: block;
  padding: 8px 16px;
  width: 100%;
}

.active {
  font-weight: bold;
}

.vertical-nav-button a {
  color: #8C1D40;
  text-decoration: none;
}

/* Change the link color on hover */
.vertical-nav-button:hover {
  font-weight: bold;
}

.badcode {
  background-color: #FFDDDD;
  font-family: Courier new;
}

.goodcode {
  background-color: #DDFFDD;
  font-family: Courier new;
}